.side-bar {
    /* position: fixed; */
    left: 0px;
    height: 1000px;
    padding-top: 250px;
    background-color:#31353D;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.side-bar button {
    width: 100%;
    padding-left: 0px ;
    margin-left: 0px ; 
}
.events-window {
    height: 100 px;
    background-color: white;
    float: right;
    padding-top: 50px;
}

.eventCard {
    top:100px;
    width: 18rem;
    background-color: white;
    margin-right: 1rem;
    margin-bottom: 1rem;
    height:220px;
    position: relative;
}

.eventCard a{
    float:right;
    position: absolute;
    right:15px;
    bottom: 15px;
}
.eventCard span{
    float: left;
    position: absolute;
    left:20px;
    bottom: 20px;
}
.sample-text {
    overflow: hidden;
    box-sizing: content-box;
    text-overflow: ellipsis;
    max-height: 150px;
    max-lines: 3;
}