@import url('https://fonts.googleapis.com/css?family=Montserrat');

.myNav {
    width: 100%;
    height: 80px;
    background-color: #2d3436;
    position: fixed;
    z-index: 999;
    top:0px;
    right: 0px;
    margin:0px;
    padding: 0px;
}

.middle-nav {
    height: 100%;
    margin:0px;
    padding:0px;
}

.right-nav {
    height: 100%;
    margin:0px;
    padding:0px;
}

.left-nav {
    height: 100%;
    margin:0px;
    padding:0px;
}

.left-nav img{
    margin-left: 100px;
    width: 160px;
    height: 70px;
}

.link-button, .brand-button {
    text-decoration: none;
    justify-content: center;        
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}

.link-button p{
    height: 100%;
    padding-top: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: larger;
    -webkit-transition: color .4s;
    transition: color .4s linear !important;
}

.brand-button p {
    height: 100%;
    padding-top: 12px;
    color: white;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

.link-button:hover {
    text-decoration: none;
    background-color:#e5e8e8;
}

.link-button:hover p {
    text-decoration: none;
    color:#2f3640;
}

.brand-button:hover {
    text-decoration: none;
}