.edside-bar {
   
    left: 0px;
    height: 1000px;
    padding-top: 20px;
    background-color:#31353D;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.side-bar button {
    width: 100%;
    padding-left: 0px ;
    margin-left: 0px ; 
}
.profile-window {
    height: 100 px;
    float: right;
    padding-top: 300px;
}

.edprofileCard {
    width: 18rem;
    background-color: white;
    margin-left: 0px;
    margin-bottom: 0px;
    height:100;
    position: relative;
}

.profileCard a {
    float:right;
    position: absolute;
    right:15px;
    bottom: 15px;
}
.edprofileCard span{
    float: left;
    position: absolute;
    left:200px;
    bottom: 0px;
}

