.side-bar {
    /* position: fixed; */
    left: 0px;
    height: 1000px;
    padding-top: 250px;
    background-color:#31353D;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.side-bar button {
    width: 100%;
    padding-left: 0px ;
    margin-left: 0px ; 
    
}
.profile-window {
    height: 100 px;
    float: right;
    padding-top: 50px;
}

.parprofileCard {
    width: 18rem;
    background-color: aquamarine;
    margin-right: 1rem;
    margin-bottom: 1rem;



    margin-top: 100px;
    margin-left: 50px;
    height:400px;

    position: relative;
}


.parprofileCard span{
    float: left;
    position: absolute;
    left:20px;
    bottom: 20px;
}


.link-button, .brand-button {
    text-decoration: none;
    justify-content: center;        
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}

