.AdminPassword {
    text-align: center;
    background-color: aqua;
  }
  
  .AdminPassword-logo {
    animation: AdminPassword-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .AdminPassword-header {
    background-color: blue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(88, 90, 92);
  }
  
  .AdminPassword-link {
    color: #2e8888;
  }
  
  @keyframes AdminPassword-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }